<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
    <style>
      .login-container {
        width: 400px;
        margin-top: 100px;
      }
    </style>
  </head>
  <body>
    <div class="container d-flex justify-content-center">
      <div class="login-container p-4 rounded shadow">
        <!--SIGNIN HEADER-->
        <h2 class="text-center mb-4">SIGN IN</h2>
        <% if(message.success){ %>
          <div class="alert alert-success text-center" role="alert">
            <%= message.success %>
          </div>
        <% } %>

        <% if(message.error){ %>
          <div class="alert alert-danger text-center" role="alert">
            <%= message.error %>
          </div>
        <% } %>
        <form id="loginForm" action="/login" method="POST">
          <!--EMAIL-->
          <div class="m-1">
            <label for="uEmail" class="form-label">Email address</label>
            <input name="email" id="uEmail" type="email" class="form-control mb-2" placeholder="name@example.com" required />
          </div>
          <!--PASSWORD-->
          <div class="m-1 mb-5">
            <label for="userPass" class="form-label">Password</label>
            <div class="input-group">
              <input name="password" id="userPass" type="password" class="form-control" placeholder="Password" aria-describedby="passEye" required/>
              <span class="input-group-text" id="passEye">
                <a class="pe-auto link-success">
                  <i id="js-eyeicon" class="js-password bi bi-eye-slash-fill"></i>
								</a>
              </span>
            </div>
          </div>
          <!--SUBMIT BUTTON-->
          <div class="d-flex flex-row justify-content-center">
            <button type="submit" class="btn btn-primary w-50 rounded-pill">
							SIGN IN
            </button>
          </div>
        </form>
				<!--FORGOT PASSWORD-->
				<a href="/forgotpass" data-bs-toggle="modal" data-bs-target="#setPinModal" style="text-decoration: none;">
					<p class="text-center mt-2">Forgot password?</p>
				</a>
				<%- include('templates/forgotpass') %>
      </div>
    </div>
    <!--LOG IN LINK-->
  	<p class="text-center mt-2" 
	 		 style="font-size: 13px">
			Click here to register an account. <a href="/signup">Register</a>
		</p>
  </body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" ></script>
<script type="text/javascript">
	//HIDE PASSWORD FUNCTION
	let icon = document.getElementById("js-eyeicon");
	icon.addEventListener("click", (event) => {
		let passtype = document.getElementById("userPass");
		if (passtype.type === "password") {
			passtype.type = "text";
			icon.classList.remove("bi-eye-slash-fill");
			icon.classList.add("bi-eye-fill");
		} else {
			passtype.type = "password";
			icon.classList.add("bi-eye-slash-fill");
		}
		console.log(`${passtype.type}`);
	});
</script>
</html>
